body{
  background-color:lightblue;
}

#btnIniciar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 20px 40px;
  font-size: 20px;
  cursor: pointer;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 10px;
}

#btnIniciar:hover {
  background: #45a049;
}

#paisaje{
  position:relative;
  width:800px;
  height:500px;
  border:1px solid gray;
  background:#00BFFF;
  margin:30px auto;
  overflow:hidden;
}
.objeto{
  position:absolute;
}
#sol{
  top:45px;
  right:70px;
}
#nevado{
  bottom:-17px;
  left:-17px;
}
#nevado2{
  bottom:-17px;
  right:-30px;
}
#bici{
  bottom:-25px;
  left:0px;
  z-index:1;
}

#arbol{
  right:80px;
  bottom:-4px;
  z-index:2;
}