body {
  background: #f5f5f5;
  padding: 50px;
}

#teclado {
  border: 1px solid grey;
  width: 200px;
  height: 270px;
  text-align: center;
}

.clave {
  width: 202px;
  height: 40px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 16px;
  margin-bottom: 5px;
}

.tecla {
  width: 60px;
  height: 60px;
  background: black;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 16px;
  cursor: pointer;
}

.tecla:hover {
  background: #333;
}

.borrar {
  width: 125px;
  background: #c21e1e;
}

.borrar:hover {
  background: #ab1515;
}

.caja_clave {
  width: 200px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
